/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Custom styles

$ff-ph: "Montserrat", sans-serif;
$ff-sh: "Vollkorn", serif;
$ff-p: "Source Sans Pro", sans-serif;

// Utility classes

.primary-header {
  font-family: $ff-ph;
  font-weight: 700;
  letter-spacing: -3px;
  font-size: 2.625rem;
  line-height: 2.5rem;
}

.secondary-header {
  font-family: $ff-sh;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.375rem;
}

.button {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: -1px;
  margin-top: 1.875rem;
  padding: 1rem 2rem;
  transition: all 500ms ease;
  cursor: pointer;
  font-family: $ff-ph;
  text-transform: uppercase;
  &:hover {
    border-color: #878787;
    background-color: #878787;
    color: white;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  color: white;
  text-decoration: none;
}

// Animations

@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

// General styles

body {
  width: 100%;
  background-color: white;
}

p {
  font-family: $ff-p;
  font-size: 0.9375rem;
  letter-spacing: -0.5px;
  line-height: 1.375rem;
}

// primary header

.main-header {
  margin: 1.5rem 1.5rem;
  padding: 0 auto;
  min-height: 100vmin;
  min-width: 100vmin;
  .header-container {
    .slideshow {
      min-height: 100%;
      min-width: 100%;
      .active {
        display: block !important;
        animation: scaleAnim 0.5s ease-in-out;
      }
      .slide {
        min-height: 750px;
        background-position: 50% 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: border-box;
      }
      #slide-1 {
        display: none;
        background-image: url(../images/hero-background.jpg);
        transition: all 0.5s ease;
        .header-text {
          position: relative;
          text-align: right;
          transform: translateX(-5%) translateY(130%);
          h1 {
            font-size: 3.5rem;
            line-height: 3.4rem;
          }
          h4 {
            margin-top: 1rem;
            font-size: 1.1rem;
            line-height: 1.4rem;
          }
        }
      }
      #slide-2 {
        display: none;
        background-image: url(../images/hero-2.jpeg);
        .header-text {
          position: relative;
          text-align: right;
          transform: translateX(-5%) translateY(130%);
          h1 {
            font-size: 3.5rem;
            line-height: 3.4rem;
          }
          h4 {
            margin-top: 1rem;
            font-size: 1.1rem;
            line-height: 1.4rem;
          }
        }
      }
      #slide-3 {
        display: none;
        background-image: url(../images/hero-3.jpg);
        .header-text {
          position: relative;
          text-align: right;
          transform: translateX(-5%) translateY(130%);
          h1 {
            font-size: 3.5rem;
            line-height: 3.4rem;
          }
          h4 {
            margin-top: 1rem;
            font-size: 1.1rem;
            line-height: 1.4rem;
          }
        }
      }
    }
    .arrow-div {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
      width: 95%;
      margin: 0 auto;
      padding: 0 auto;
      top: 50%;
      left: 0;
      right: 0;
      color: white;
      .back-arrow {
        margin-left: 0.7rem;
        @include flex-center;
        width: 30px;
        height: 30px;
        &:hover {
          background-color: rgba(51, 51, 51, 0.49);
          cursor: pointer;
        }
      }
      .next-arrow {
        margin-right: 0.7rem;
        @include flex-center;
        width: 30px;
        height: 30px;
        &:hover {
          background-color: rgba(51, 51, 51, 0.49);
          cursor: pointer;
        }
      }
    }
    .primary-nav {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-flex;
      margin-top: 3rem;
      margin-left: 3.5rem;
      width: 70%;
      z-index: 100%;
      .logo-div {
        aspect-ratio: 1 / 1;
        max-width: 5rem;
        max-height: 5rem;
        margin-right: 2rem;
      }
      .nav-list {
        margin-left: 3rem;
        display: flex;
        justify-content: space-between;
        width: 70%;
        .nav-item {
          text-decoration: none;
          color: white;
          text-transform: uppercase;
          transition: 0.5s all ease;
          font-family: $ff-ph;
          font-size: 0.8rem;
          letter-spacing: -1px;
          line-height: 14px;
          display: flex;
          flex-direction: column;
          &:hover {
            color: #e3e3e3;
            &::after {
              display: block;
              transition: all 0.5s ease;
              transition-delay: 0.5s;
            }
          }
          &::after {
            content: "";
            color: white;
            position: relative;
            width: 100%;
            height: 2px;
            background-color: white;
            margin: 0 auto;

            display: none;
          }
        }
      }
    }
  }
}
// about section

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.5rem 1.5rem;
  gap: 20px;
  .about-left-one {
    background-image: url(../images/about-left.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    height: 600px;
    padding: 0 100px;
  }
  .about-right-one {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 20px;
    min-height: 600px;
    height: 600px;
    padding: 0 100px;
    h2 {
      margin: 5px auto;
      font-size: 42px;
      line-height: 40px;
    }
    h5 {
      line-height: 22px;
      margin: 5px 0 30px;
      font-size: 16px;
    }
  }
  .about-left-two {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 20px;
    min-height: 600px;
    height: 600px;
    padding: 0 100px;
    h2 {
      margin: 5px auto;
      font-size: 42px;
      line-height: 40px;
    }
    h5 {
      line-height: 22px;
      margin: 5px 0 30px;
      font-size: 16px;
      font-style: italic;
    }
  }
  .about-right-two {
    height: 600px;
    min-height: 600px;
    background-image: url(../images/about-right.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    height: 600px;
    padding: 0 100px;
  }
  .about-span-two {
    grid-column: 1 / span 2;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 20px;
    height: 200px;
    .item {
      padding: 0 20px;
      float: left;
      line-height: 10px;
    }
    h2 {
      font-size: 42px;
    }
    h5 {
      font-size: 16px;
      font-style: italic;
    }
  }
}

// Services section

.services-section {
  text-align: center;
  .two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
    .services-left {
      background-image: url(../images/services-left.jpeg);
      height: 600px;
      min-height: 600px;
      background-size: cover;
      background-position: 50% 50%;
    }
    .services-right {
      background-color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      line-height: 20px;
      min-height: 600px;
      height: 600px;
      padding: 0 100px;
      h2 {
        margin: 5px auto;
        font-size: 42px;
        line-height: 40px;
      }
      h5 {
        line-height: 22px;
        margin: 5px 0 30px;
        font-size: 16px;
        font-style: italic;
      }
    }
  }
  .three-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
    padding-top: 20px;
    .services-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;
      min-height: 400px;
      padding: 40px 50px 0;
      background-color: whitesmoke;
      &:first-child:hover {
        background-color: #e3e1d3;
        transition: all 0.75s ease;
        background-size: auto;
      }
      &:nth-child(2):hover {
        background-color: #e0cece;
        transition: all 0.75s ease;
        background-size: auto;
      }
      &:last-child:hover {
        background-color: #d1d7e0;
        transition: all 0.75s ease;
        background-size: auto;
      }
      img {
        height: 125px;
        width: 125px;
        align-self: center;
      }
      h2 {
        font-size: 42px;
        font-weight: 700px;
      }
    }
  }
}

// Quotes section

.quotes-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 20px;
  h2 {
    margin: 5px 0;
    letter-spacing: -3px;
    line-height: 40px;
  }
  p {
    font-size: 20px;
  }
}

// Portfolio section

.portfolio-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 100px 20px;
  .portfolio-text {
    margin: 1px;
  }
  a {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pf1 {
    background-image: url(../images/portfolio1.jpg);
  }
  .pf2 {
    background-image: url(../images/portfolio2.jpg);
  }
  .pf3 {
    background-image: url(../images/portfolio3.jpg);
  }
  .pf4 {
    background-image: url(../images/portfolio4.jpg);
  }
  .pf5 {
    background-image: url(../images/portfolio5.jpg);
  }
  .pf6 {
    background-image: url(../images/portfolio6.jpg);
  }
  .pf7 {
    background-image: url(../images/portfolio7.jpg);
  }
  .outer-div {
    display: none;
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: all 0.5s ease;
    aspect-ratio: 1 / 1;
    .inner-div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        line-height: 22px;
        letter-spacing: -0.5px;
        display: none;
        text-align: center;
      }
    }
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.8);
      display: block;
      .inner-div {
        border: 1px solid white;
        span {
          display: block;
        }
      }
    }
  }
}

// Contact section

.contact-section {
  padding: 100px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .contact-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      label {
        text-transform: uppercase;
        display: block;
        width: 100%;
        font-weight: bold;
        margin: 5px auto;
        letter-spacing: -1px;
        line-height: 20px;
      }
      input {
        width: 100%;
        height: 2.5rem;
        margin-bottom: 10px;
        line-height: 1.6;
        vertical-align: middle;
        border: 1px solid #ccc;
      }
      textarea {
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        height: auto;
        color: #555;
        background-color: #fff;
        overflow: auto;
      }
      .button {
        width: 20%;
        margin: 20px auto;
        text-align: center;
        padding: 0;
        border: 2px solid black;
      }
    }
  }
}

// Footer

.footer-section {
  background-color: #242424;
  margin: 10px;
  padding: 20px;
  height: 300px;
  .footer-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    h6 {
      color: #7d7d7d;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 18px;
      letter-spacing: 0;
    }
    .col-1 {
      grid-column: 1;
      img {
        height: 15%;
        width: 15%;
        aspect-ratio: 1 / 1;
        margin-top: 3.5rem;
        margin-left: 3.5rem;
      }
    }
    .col-2 {
      grid-column: 2;
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 15px;
        font-family: $ff-p;
        margin-bottom: 5px;
        letter-spacing: -0.5px;
        line-height: 28px;
      }
    }
    .col-3 {
      p {
        font-size: 15px;
        line-height: 28px;
        letter-spacing: -0.5px;
        font-weight: 400;
        margin-bottom: 5px;
      }
    }
    .col-4 {
      p {
        font-size: 15px;
        line-height: 28px;
        letter-spacing: -0.5px;
        font-weight: 400;
        margin-bottom: 5px;
      }
    }
  }
}
